.fullmenu{
    background-image: url(./assets/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


@media screen and (min-width : 1200px){
    .fullmenu .contenedor{
        display: flex;
        justify-content: end;
    }
    .fullmenu_div{
        margin: 120px 0px;
        width: 50%;
    
    }
    
}
